.vaarta-social-feed-editor {
	padding: 18px;
	border: 1px dashed #949494;
}

.vaarta-social-feed-editor > .block-editor-inner-blocks > .block-editor-block-list__layout {
	display: grid;
	gap: 14px;
	margin-top: 16px;
}
