.vaarta-contact-form-editor {
	padding: 20px;
	border: 1px dashed #949494;
}

.vaarta-contact-form-editor__preview {
	display: grid;
	gap: 8px;
	margin-top: 18px;
}

.vaarta-contact-form-editor__preview span {
	padding: 10px 12px;
	border: 1px solid #dcdcde;
}
