<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"vaarta-shell vaarta-archive","layout":{"type":"default"}} -->
<main class="wp-block-group vaarta-shell vaarta-archive">
	<!-- wp:vaarta/breadcrumbs /-->
	<!-- wp:group {"className":"vaarta-archive__header","layout":{"type":"constrained"}} -->
	<div class="wp-block-group vaarta-archive__header">
		<!-- wp:query-title {"type":"archive","showPrefix":false} /-->
		<!-- wp:term-description /-->
	</div>
	<!-- /wp:group -->
	<!-- wp:pattern {"slug":"vaarta/archive-grid"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
